body{
	margin:0px;
	padding: 0px;
	font-family: Calibri, sans-serif;
}
header{
	width: 100%;
	background: -webkit-linear-gradient(left, #bcb6b6, #747c8f); 
	height: 80px;
	text-align: center;
}
nav{
	width: 800px;
	height: 80px;
	margin:0 auto;
	padding-top: 0px;
}
nav ul {
	list-style-type: none;
	margin:0px;
	padding: 0px;
	width:100vw;
}
nav li {
	display: inline-block;
	width: 150px;
	height: 50px;
	font-size: 18px;
	text-align: right;
	position: relative;
	top: -30px;
}
.logo{
	position: relative;
	top:26px;
	text-align: left;
	width: 300px;
}
.mobile{
	display: none;
}
nav li a{
	color: white;
	text-decoration: none;
}

footer{
	padding-top: 100px;
	text-align: center;
	color: grey;
}

.menu-icon{
	display: none;
}

nav li:hover {
	filter: glow(color:white, strength=0);
	text-shadow: 1px 1px 10px white;
}
.logo:hover {
	background-image: none;
}
.selected {
	background-image: url(../img/hoverli.png);
}

@media screen and (max-width: 800px){
	 
	 
}

@media screen and (max-width: 540px){
  .mobile{
	 	width: 200px;
	 	display: inline-block;
	 	position:absolute;
	 	left:20px;
	 	top:12px;
	 }
	 .menu-icon{
        position: absolute;
        top: 26px;
        right:30px;
        display: inline-block;
        z-index:9;
    }
    .menu-icon div{
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        opacity: 0.6;
        border-radius: 10px;
    }
    .large_nav{
    	display: none;
    	position: relative;
    	top:80px;
    	right:0;
    	z-index: 10;
    }
    .large_nav li{
    	display: block;
    	width:100%;
    	position:relative;
    	height:70px;
    	text-align: center;
/*        background: -webkit-linear-gradient(left, #91939F, #747c8f); */
		background: -webkit-linear-gradient(left, #bcb6b6, #747c8f);
        line-height: 70px;
        top:0;
    }
    .logo{
	 	display:none;
	 }
	 .selected{
	 	background-image: none;
	 	filter: glow(color:white, strength=0);
		text-shadow: 1px 1px 10px white;
	 }
}