
section {
	width: 800px;
	text-align: center;
	margin: 0 auto;
	padding-top: 80px;
}
p{
	color: #999999;
	font-size: 24px;
	font-weight: normal;
	letter-spacing: 4px;
	margin: 0;
}
#showTempo{
	display: block;
	color: #999999;
	font-size: 60px;
}
#tempo{
	height: 20px; 
	width: 300px;
	margin-bottom: 50px;
}
#center{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: -webkit-linear-gradient(left, #9697a1, #7c8293); 
	margin:0 auto;
	color: white;
	opacity:0.8;
	filter:alpha(opacity=80);
	margin-bottom: 50px;
}
#center:hover {
	opacity:1;
	filter:alpha(opacity=100);
}
#center img{
	position: relative;
	top: 9px;
	left: 4px;
}
#resolutionBox{
	margin-top: 80px;
	margin-bottom: 80px;
}
select{
	width: 168px;
	height: 30px;
	background: -webkit-linear-gradient(left, #9697a1, #7c8293); 
	color: white;
	font-size: 18px;
	font-family: Calibri， sans-serif;
}
select option{
	background: -webkit-linear-gradient(left, #9697a1, #7c8293); 
}


@media screen and (max-width:800px){
	section{
		width: 100%;
	}
}
@media screen and (max-width:540px){
	section{
		width: 300px;
	}
	.moon{
		display: none;
	}
}

