section {
  width: 600px;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
}
h1{
  margin-top: 10px;
  color: #999999;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 2px;
}
p{
  color: #999999;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}
select{
  width: 220px;
  height: 30px;
  background: -webkit-linear-gradient(left, #9697a1, #7c8293); 
  color: white;
  font-size: 18px;
  font-family: Calibri, sans-serif;
}
select option{
  background: -webkit-linear-gradient(left, #9697a1, #7c8293); 
}
footer{
  padding-top:10px;
}
.showtune{
  margin: 10px;
  color: #999999;
  font-size: 60px;
}
.right{
  float: right;
}
.left{
  float: left;
}
.play{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #999999;
  margin:0 auto;
  color: #999999;
  font-size: 36px;
  margin-bottom: 50px;
  line-height: 80px;
}
.play:hover {
  background-color: #e1e2e4;
}

.playing{
  animation: pulse 2s linear infinite;
  -webkit-animation: pulse 2s linear infinite;
}

 /* The style of the lable is revised from https://codepen.io/chutou/pen/qdGZQr */

label{
  display:inline-block;
  vertical-align: middle;
}
label, input, select{
  vertical-align: middle;
}
.mui-switch {
  width: 70px;
  height: 38px;
  position: relative;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none; }
  .mui-switch:before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    top: 3px;
    left: 2px;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }
  .mui-switch:checked {
    border-color: #8f929e;
    box-shadow: #8f929e 0 0 0 16px inset;
    background-color: #8f929e; }
    .mui-switch:checked:before {
      left: 34px; }
  .mui-switch.mui-switch-animbg {
    transition: background-color ease 0.4s; }
    .mui-switch.mui-switch-animbg:before {
      transition: left 0.3s; }
    .mui-switch.mui-switch-animbg:checked {
      box-shadow: #dfdfdf 0 0 0 0 inset;
      background-color: #8f929e;
      transition: border-color 0.4s, background-color ease 0.4s; }
      .mui-switch.mui-switch-animbg:checked:before {
        transition: left 0.3s; }
  .mui-switch.mui-switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s; }
    .mui-switch.mui-switch-anim:before {
      transition: left 0.3s; }
    .mui-switch.mui-switch-anim:checked {
      box-shadow: #8f929e 0 0 0 16px inset;
      background-color: #8f929e;
      transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s; }
      .mui-switch.mui-switch-anim:checked:before {
        transition: left 0.3s; }
 /* The revised part ends */
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(170,170,170, 0.6);
  }
  33% {
      -webkit-box-shadow: 0 0 0 7px rgba(170,170,170, 0.3), 0 0 0 0 rgba(170,170,170, 0.6);
  }
  66% {
    -webkit-box-shadow: 0 0 0 12px rgba(170,170,170, 0.18), 0 0 0 15px rgba(170,170,170, 0.3);
  }
  86%{
    -webkit-box-shadow: 0 0 0 15px rgba(170,170,170, 0), 0 0 0 24px rgba(170,170,170, 0.12);
  }
  100% {
    -webkit-box-shadow: 0 0 0 15px rgba(170,170,170, 0), 0 0 0 30px rgba(170,170,170, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(170,170,170, 0.6);
    box-shadow: 0 0 0 0 rgba(170,170,170, 0.6);
  }
  33% {
      box-shadow: 0 0 0 7px rgba(170,170,170, 0.3), 0 0 0 0 rgba(170,170,170, 0.6); 
      -moz-box-shadow: 0 0 0 7px rgba(170,170,170, 0.3), 0 0 0 0 rgba(170,170,170, 0.6);

  }
  66% {
    box-shadow: 0 0 0 12px rgba(170,170,170, 0.18), 0 0 0 15px rgba(170,170,170, 0.3);
    -moz-box-shadow: 0 0 0 12px rgba(170,170,170, 0.18), 0 0 0 15px rgba(170,170,170, 0.3);
  }
  86%{
    box-shadow: 0 0 0 15px rgba(170,170,170, 0), 0 0 0 24px rgba(170,170,170, 0.12);
    -moz-box-shadow: 0 0 0 15px rgba(170,170,170, 0), 0 0 0 24px rgba(170,170,170, 0.12);
  }
  100% {
      box-shadow: 0 0 0 15px rgba(170,170,170, 0), 0 0 0 30px rgba(170,170,170, 0);
      -moz-box-shadow: 0 0 0 15px rgba(170,170,170, 0), 0 0 0 30px rgba(170,170,170, 0);
  }
 }

.mobileviewimg{
  display: none;
}


@media screen and (max-width: 800px){
  
}

@media screen and (max-width: 540px){
  .largeviewimg{
    display: none;
  }
  .mobileviewimg{
    display: inline;
  }
  section{
    width: 100%;
  }
  .playtune{
    height: 400px;
  }
  .play{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #999999;
  margin:0 auto;
  color: #999999;
  font-size: 24px;
  margin-bottom: 50px;
  line-height: 60px;
}
  .right{
  margin-right: 20px;
  }
  .left{
  margin-left: 20px;
  }
}

