<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width user-scalable=no">
    <title>{{TITLE}}</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/hover.js" type="text/javascript"></script>
    {% block style %}
    {% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li class="logo"><a href="index.html"><img src="img/logo.png" alt="logo"></a></li>
          <li><a href="instrument.html" {{INSTRUMENTS}}>INSTRUMENTS</a></li>
          <li><a href="tuningbox.html" {{TUNING}}>TUNING BOX</a></li>
          <li><a href="metronome.html" {{METRO}}>METRONOME</a></li>
        </ul>    
      </nav>
    </header>
    {% block content %}
    <div class="field">
        <div class="box1">
            <img src="img/icons/140trumpet.png" class="item shake1" id="bubble1" onmouseover="hover(this)" onmouseleave="nohover(this)">
        </div>
        <div class="box2">
            <img src="img/icons/160sax.png" class="item shake2" id="bubble2" onmouseover="hover2(this)" onmouseleave="nohover2(this)">
        </div>
        <div class="box3">
            <img src="img/icons/180guitar.png" class="item shake2" id="bubble3" onmouseover="hover3(this)" onmouseleave="nohover3(this)">
        </div>
        <div class="box4">
            <img src="img/icons/100harp.png" class="item shake" id="bubble4" onmouseover="hover4(this)" onmouseleave="nohover4(this)">
        </div>
        <div class="box5">
            <img src="img/icons/160eguitar.png" class="item shake2" id="bubble5" onmouseover="hover5(this)" onmouseleave="nohover5(this)">
        </div>
        <div class="box6">
            <img src="img/icons/140accordion.png" class="item shake" id="bubble6" onmouseover="hover6(this)" onmouseleave="nohover6(this)">
        </div>
        <div class="box7">
            <img src="img/icons/180piano.png" class="item shake" id="bubble7" onmouseover="hover7(this)" onmouseleave="nohover7(this)">
        </div>
        <div class="box8">
            <img src="img/icons/160violin.png" class="item shake1" id="bubble8" onmouseover="hover8(this)" onmouseleave="nohover8(this)">
    </div>
</div>
    {% endblock %}
    <footer>
      Copyright © 2017 SI539 Overtune. All rights reserved.
    </footer>

   </body>
</html>
