{% extends "index.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/css/instruments.css">
    <link rel="stylesheet" type="text/css" href="css/effects.css">
    <script type="text/javascript" src="js/instruments.js"></script>
    <!-- <script type="text/javascript" src="js/sound.js"></script> -->
    <!-- <script src="js/effect.js"></script> -->
    <script src="/js/lity.js"></script>
    <link href="css/lity.css" rel="stylesheet">
    <script src="audioplayerengine/amazingaudioplayer.js"></script>
    <link rel="stylesheet" type="text/css" href="audioplayerengine/initaudioplayer-1.css">
    <script src="audioplayerengine/initaudioplayer-1.js"></script>
    <script type="text/javascript">
        function play(elem){
            $(elem).children("audio")[0].currentTime = 0;
            $(elem).children("audio")[0].play();
        }
    </script>
{% endblock %}


{% block content %}

<div class="scalecontainer">
  <div class="holder item1"></div>
  <div class="holder item2"></div>

        <div class="play" onclick="play(this);">
            <img src="img/do.png" class="item" id="do" alt="do">
                <audio id="C" preload="auto">
                    <source src = "{{ AUDIO1 }}" type="audio/mpeg">
        </audio></div>

        <div class="play" onclick="play(this);">
            <img src="img/re.png" class="item" id="re" alt="re">
                <audio id="D" preload="auto">
                    <source src= "{{ AUDIO2 }}" type="audio/mpeg">
        </audio></div>

        <div class="play" onclick="play(this);">
            <img src="img/mi.png" class="item" id="mi" alt="mi">
                <audio id="E" preload="auto">
                    <source src= "{{ AUDIO3 }}" type="audio/mpeg">
        </audio></div>

                <div class="play" onclick="play(this);">
            <img src="img/fa.png" class="item" id="fa" alt="fa">
                <audio id="F" preload="auto">
                    <source src= "{{ AUDIO4 }}" type="audio/mpeg">
        </audio></div>

                <div class="play" onclick="play(this);">
            <img src="img/so.png" class="item" id="so" alt="so">
                <audio id="G" preload="auto">
                    <source src= "{{ AUDIO5 }}" type="audio/mpeg">
        </audio></div>

        <div class="play" onclick="play(this);">
            <img src="img/la.png" class="item" id="la" alt="la">
                <audio id="A" preload="auto">
                    <source src= "{{ AUDIO6 }}" type="audio/mpeg">
        </audio></div>
        
        <div class="play" onclick="play(this);">
            <img src="img/ti.png" class="item" id="ti" alt="ti">
                <audio id="B" preload="auto">
                    <source src= "{{ AUDIO7 }}" type="audio/mpeg">
        </audio></div>

        <div class="play" onclick="play(this);">
            <img src="img/do2.png" class="item" id="do2" alt="do2">
                <audio id="C2" preload="auto">
                    <source src= "{{ AUDIO8 }}" type="audio/mpeg">
        </audio></div>

  <div class="holder item1"></div>
  <div class="holder item2"></div>
</div>
<section class="playtune">
    <div class="formobileview">
        <img class="instrumentpicture" src="{{INSTRUMENT_PIC}}" >
        <h3> {{INSTRUMENT}} </h3>
    </div>
    <section class="videolist">
      <p>RANGE 
        <div class="tagcontent"><div class="tag1" style="{{TAG1_STYLE}}">{{ RANGE_LOW }}</div><div class="tag2" style="{{TAG2_STYLE}}">{{RANGE_HIGH}}</div><div>
        <div id="bar"><div id="range" style = "{{RANGE_STYLE}}"></div></div></p>

      <p>RELATED VIDEOS</p>
        <div href="{{VIDEO0}}" data-lity class="videolist2"><img class="video" src="{{THUMBNAIL0}}" alt="video"><img class="play1234" src="img/play.png" alt="play"></div>
        <div href="{{VIDEO1}}" data-lity class="videolist2"><img class="video" src="{{THUMBNAIL1}}" alt="video"><img class="play1234" src="img/play.png" alt="play"></div>
        <div href="{{VIDEO2}}" data-lity class="videolist2"><img class="video" src="{{THUMBNAIL2}}" alt="video"><img class="play1234" src="img/play.png" alt="play"></div>
    </section>
    <section class="musicplaylist">
        <div class="intro">
            <p id="instrumentname">INTRODUCTION</p>
            <p id="introcontent">{{INTRODUCTION}}</p>
        </div>
        <div style="margin:12px auto;">
    <div id="amazingaudioplayer-1" style="display:block;position:relative;width:100%;max-width:300px;height:auto;margin:0px auto 0px;">
        <ul class="amazingaudioplayer-audios" style="display:none;">
            <li data-title="{{TITLE0}}" data-info="" data-image="" data-duration="">
                <div class="amazingaudioplayer-source" data-src="{{MUSIC0}}" data-type="audio/mpeg" />
            </li>
            <li data-title="{{TITLE1}}" data-info="" data-image="" data-duration="">
                <div class="amazingaudioplayer-source" data-src="{{MUSIC1}}" data-type="audio/mpeg" />
            </li>
            <li data-title="{{TITLE2}}" data-info="" data-image="" data-duration="">
                <div class="amazingaudioplayer-source" data-src="{{MUSIC2}}" data-type="audio/mpeg" />
            </li>
        </ul>
        <!-- <div class="amazingaudioplayer-engine"><a href="http://amazingaudioplayer.com" title="html5 audio player">audio player for website</a></div> -->
    </div>
    <!-- End of body section HTML codes -->

</div>
</section>
    <div class="forlargeview">
    <img class="instrumentpicture" src="{{INSTRUMENT_PIC}}" >
    <h3> {{INSTRUMENT}} </h3>
    </div>
</section>

        <section class="et-hero-tabs">
<!-- <img src="img/violin1.png" class="centeredinstrument"> -->
    <div class="et-hero-tabs-container">
    <a class="et-hero-tab" href="../accordion" onmouseenter= "growUp(this)" onmouseleave="growDown(this)" style="
        /*background-image: url('img/harp.png');
        background-size: cover;
        background-repeat: no-repeat;*/
    "><img src="img/accordian1.png" class="centeredinstrument">
</a>   
    <a class="et-hero-tab" href="../piano" onmouseenter= "growUp(this)" onmouseleave="growDown(this)" style="
        /*background-image: url('img/harp.png');
        background-size: cover;
        background-repeat: no-repeat;*/
    "><img src="img/piano1.png" class="centeredinstrument">
</a>      
    <a class="et-hero-tab" href="../harp" onmouseenter= "growUp(this)" onmouseleave="growDown(this)" style="
        /*background-image: url('img/harp.png');
        background-size: cover;
        background-repeat: no-repeat;*/
    "><img src="img/harp1.png" class="centeredinstrument">
</a>       
    <a class="et-hero-tab" href="../violin" onmouseenter= "growUp(this)" onmouseleave="growDown(this)" style="
        /*background-image: url('img/violin2.png');
        background-size: cover;
        border-top-style: solid;
        border-width: 5px;
        background-repeat: no-repeat;*/
    "><img src="img/violin1.png" class="centeredinstrument" >
</a>      
    <a class="et-hero-tab" href="../trumpet" onmouseenter= "growUp(this)" onmouseleave="growDown(this)" style="
        /*background-image: url('img/violin2.png');
        background-size: cover;
        border-top-style: solid;
        border-width: 5px;
        background-repeat: no-repeat;*/
    "><img src="img/trumpet1.png" class="centeredinstrument" >
</a>       
    <a class="et-hero-tab" href="../eguitar" onmouseenter= "growUp(this)" onmouseleave="growDown(this)" style="
        /*background-image: url('img/violin2.png');
        background-size: cover;
        border-top-style: solid;
        border-width: 5px;
        background-repeat: no-repeat;*/
    "><img src="img/electronicguitar1.png" class="centeredinstrument" >
</a>   
    <a class="et-hero-tab" href="../sax" onmouseenter= "growUp(this)" onmouseleave="growDown(this)" style="
        /*background-image: url('img/violin2.png');
        background-size: cover;
        border-top-style: solid;
        border-width: 5px;
        background-repeat: no-repeat;*/
    "><img src="img/saxophone1.png" class="centeredinstrument" >
</a>       
    <a class="et-hero-tab" href="../guitar" onmouseenter= "growUp(this)" onmouseleave="growDown(this)" style="
        /*background-image: url('img/violin2.png');
        background-size: cover;
        border-top-style: solid;
        border-width: 5px;
        background-repeat: no-repeat;*/
    "><img src="img/guitar1.png" class="centeredinstrument" >
</a>        
    <span class="et-hero-tab-slider"></span>
    </div>
  </section>
    <h5> Hover over an instrument to find out more</h5>
{% endblock %}

